{% extends "base.html" %}





{% block body %}

<div class="jumbotron">
    <div class="container">

        <div id="mapid"></div>

        <div class="form-group">
            <div class="row">
                <div class='col-sm-6'>
                    <label>Start Date</label>
                    <input type="text" class="form-control" placeholder="2017-10-29" id="start_date">
                </div>
                <div class='col-sm-6'>
                    <label>Finish Date</label>
                    <input type="text" class="form-control" placeholder="2017-11-01" id="finish_date">
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <br>
                    <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Satellite
                    </button>
                    <div class="dropdown-menu" id="drop_down" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Sentinel 1</a>
                        <a class="dropdown-item" href="#">Sentinel 2</a>
                        <a class="dropdown-item" href="#">Sentinel 3</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <br>
                <button id="load_data" type="submit" class="btn btn-outline-primary float-right">Load Data</button>
            </div>

        </div>
    </div>


</div>
</div>

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<script>

$(document).ready(function () {

    var mymap = L.map('mapid').setView([-31.9, 115.86], 4);
    var load_geojson = function(data){
        L.geoJson(data).addTo(mymap);
    };

    // Fetch the data from SARA using our own endpoint

    // Set the bounds on our search
    $( "form" ).submit(function( event ) {
    console.log('submitted');

    });

    $("#load_data").click(function(){
        var start = $("#start_date").val()
        var finish = $("#finish_date").val()
        var sentinel = $('#drop_down option:selected').val()

        console.log(sentinel)

        console.log("/sentinel/2/get_published_after/"+start)

        $.get("/sentinel/"+sentinel+"/get_published_after/"+start, function(data, status){
        console.log(status);
            for (var i = 0; i < data.length; i++) {
                load_geojson(data[i]);
            }
            });

        console.log(start)
        console.log(finish)

    });

    $("form").submit(function(){


    });

    // Get the baselayer
    L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
    }).addTo( mymap );

});



</script>

{% endblock %}



