{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <div class="container">

        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ row[0] }}</td>
                    <td>Otto</td>
                    <td>{{ row[1]}}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}

