{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <div class="container">

        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Download Link</th>
                <th></th>
                <th>Quicklook</th>
            </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="{{ row }}">{{ row }}</a></td>
                    <td>Otto</td>
                    <td><img src="{{ quicklook[loop.index]}}" > </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}

